[general]
name = "asynctask"
version = "1.1.3"
description = "Provides a way to run tasks asynchronously."

[build]
files = ["asynctask.fix"]
objects = ["lib.o"]
threaded = true
dynamic_links = ["pthread"]
preliminary_commands = [["make", "lib.o"]]

[build.test]
files = ["test.fix"]
memcheck = true
